{% extends 'layers/layers.html' %}
{% block contentLayers %}
     <div class="container">
        <div class="panel panel-primary">
            <div class="panel-heading">Elminando capa: <strong>{{ deleteLayer.idCapa }}</strong></div>
            <div class="panel-body">
                <form  method="POST" data-toggle="validator" enctype="multipart/form-data" role="form">
                    {% csrf_token %}
                    <div class="well">
                        <p>¿Está seguro de eliminar esta capa?</p>
                    </div>
                    <div class="acciones">
                        <a href="{% url 'get_layer_view' singleImage.pk %}" class="btn btn-default">No, Cancelar.</a>
                        <input type="submit" value="Sí, Eliminar" class="btn btn-danger" id="btnDelete"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock contentLayers %}