{% extends "base.html" %}
{% block content %}
		<div class="row row-panel-project">
			<div class="container-panel">
				<div class="col-lg-3 panel-project">
					<nav>
						<ul>
							<li><a href="{% url 'configProject' project.pk %}"><span class="glyphicon glyphicon-home"></span> {{project.nombre}}</a></li>
							<li><a href="{% url 'get_update_layers' project.pk  singleImage.pk %}"><span class="glyphicon glyphicon-th-large"></span> Configurar capas</a></li>
							<li><a href=""><span class="glyphicon glyphicon-scale"></span> Indicadores</a></li>
							<li><a href=""><span class="glyphicon glyphicon-object-align-top"></span> Capas-Indicadores</a></li>
							<li><a href=""><span class="glyphicon glyphicon-random"></span> Condición para indicadores</a></li>
							<li><a href=""><span class="glyphicon glyphicon-cog"></span> Condición para capas</a></li>
						</ul>
					</nav>
				</div>
				<div class="col-lg-9 panel_selected">
					{% block project-options %}
					{% endblock project-options %}
				</div>
			</div>
		</div>
{% endblock content %}