{% extends "indicadores/baseIndicador.html" %}
{% block indicador_content %}
    {% csrf_token %}
     <form action="" class="col-md-7" method="POST">
         <table class="table">
            <thead>
                <th>Descripción</th>
                <th></th>
            </thead>
             <tbody>
                {{ IndicadorFormSet.management_form }}
                {% load widget_tweaks %}
                {% csrf_token %}

                    {% for indicadorFormSet in IndicadorFormSet %}
                        <tr>
                            <td>
                                {% for formHidden in indicadorFormSet.hidden_fields %}
                                    {{ formHidden }}
                                {% endfor %}
                                {% if indicadorFormSet.instance.pk %}
                                    {{ indicadorFormSet.DELETE }}
                                {% endif %}
                                {{ indicadorFormSet.descripcion|add_class:"form-control"|attr:"required:required" }}
                            </td>
                            <td>
                                 <a href="">Eliminar</a>
                            </td>
                        </tr>
                    {% endfor %}
             </tbody>
         </table>
        <input type="submit" class="btn btn-success" value="Guardar">
     </form>
{% endblock indicador_content %}