<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
	<title></title>
	<!-- CUSTOM CSS -->
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

	<!-- CUSTOM CSS -->
	<link rel="stylesheet" type="text/css" href="{% static 'css/new_project.css' %}">
</head>
<body>
	<div class="header-body">
		<div class="row">
			<nav class="navbar navbar-default navbar-main">
				 <div class="navbar-header">
				    <button type="button" class="navbar-toggle" data-toggle="collapse"
				            data-target=".navbar-ex1-collapse">
				      <span class="sr-only">Desplegar navegación</span>
				      <span class="icon-bar"></span>
				      <span class="icon-bar"></span>
				      <span class="icon-bar"></span>
				    </button>
				    <a class="navbar-brand" href="{% url 'home' %}">Creación de dashboards personalizado</a>
			  	</div>
				<div class="collapse navbar-collapse navbar-ex1-collapse">
				    <ul class="nav navbar-nav">
				      <li><a href="{% url 'home' %}">Inicio</a></li>
				      <li><a href="{% url 'new_project' %}">Nuevo proyecto</a></li>
				      <li></li>
				    </ul>
				</div>
			</nav>
		</div>
	</div>	
	{% block content %}
	{% endblock %}
	
	<!-- VENDOR JAVASCRIPT -->

	<script src="{% static 'js/vendor/jquery-2.2.4.min.js' %}"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<script src="{% static 'js/vendor/bootstrap-filestyle.min.js' %}"></script>
	<script src="{% static 'js/vendor/validator.min.js' %}"></script>
	<script src="{% static 'js/vendor/underscore-min.js' %}"></script>
	<script src="{% static 'js/vendor/backbone-min.js' %}"></script>
	<script src="{% static 'js/vendor/snap.svg-min.js' %}"></script>



	<!-- CUSTOM JAVASCRIPT 
	<!-- <script src="{%static '' %}"></script> -->
	<script src="{%static 'js/init.js' %}"></script>
	 <script src="{%static 'js/backbone/views/app.js' %}"></script>	 
	 <script src="{%static 'js/backbone/models/ConfigDashboardModels.js' %}"></script>
	 <script src="{%static 'js/backbone/collections/ConfigDashboardCollections.js' %}"></script>	 
	 <script src="{%static 'js/backbone/views/layersView.js' %}"></script>

	 <script src="{%static 'js/backbone/routers/routers.js' %}"></script>
	 
	 
	<script src="{%static 'js/backbone/views/projectView.js' %}"></script>	 	 
	<script src="{% static 'js/mainCreateProject.js' %}"></script>
	<script src="{% static 'js/mainAllProject.js' %}"></script>
	<script src="{% static 'js/mainConfigProject.js' %}"></script>

    <script>
        $(function(){
            var workSpace = Snap("#containerImageSaved");
            var url = '{{ singleImage.imagen.url }}'
            Snap.load(url, function ( data ) {
                workSpace.append(data);
            });
        })
    </script>
</body>
</html>