<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
	<title></title>
	<!-- CUSTOM CSS -->
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

	<!-- CUSTOM CSS -->
	<link rel="stylesheet" type="text/css" href="{% static 'css/new_project.css' %}">
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="span12">			
				<h1>Creación de dashboards personalizado</h1>
				<nav class="navbar navbar-default">
		  			<div class="container-fluid">
					    <ul class="nav navbar-nav">
					      <li><a href="{% url 'home' %}">Inicio</a></li>
					      <li><a href="{% url 'new_project' %}">Proyecto</a></li>
					    </ul>
			  		</div>
				</nav>
				{% block content %}
				{% endblock %}
			</div>
		</div>
	</div>
	
	<!-- VENDOR JAVASCRIPT -->
	<script src="{% static 'js/vendor/jquery-2.2.4.min.js' %}"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<script src="{% static 'js/vendor/bootstrap-filestyle.min.js' %}"></script>
	<script src="{% static 'js/vendor/validator.min.js' %}"></script>
	<script src="{% static 'js/vendor/underscore-min.js' %}"></script>
	<script src="{% static 'js/vendor/backbone-min.js' %}"></script>
	<script src="{% static 'js/vendor/snap.svg-min.js' %}"></script>

	<!-- CUSTOM JAVASCRIPT 
	<!-- <script src="{%static '' %}"></script> -->
	<script src="{%static 'js/init.js' %}"></script>
	 <script src="{%static 'js/backbone/views/app.js' %}"></script>	 
	 <script src="{%static 'js/backbone/models/ConfigDashboardModels.js' %}"></script>
	 <script src="{%static 'js/backbone/collections/ConfigDashboardCollections.js' %}"></script>	 
	 <script src="{%static 'js/backbone/views/layersView.js' %}"></script>
	 
	<script src="{%static 'js/backbone/views/projectView.js' %}"></script>	 	 
	<script src="{% static 'js/mainCreateProject.js' %}"></script>
	<script src="{% static 'js/mainAllProject.js' %}"></script>
</body>
</html>