{% extends 'base.html' %}
{% block content %}
  	<div class="container-list-projects">
  		<div class="panel panel-primary">
 	 		<div class="panel-heading">Proyectos creados</div>
	 	 	<div class="panel-body">
	 	 		<h2>Lista de proyectos</h2>
				<table class="table table-striped allProject_table">
		 			<thead>
		 				<th>Id</th>
		 				<th>Nombre</th>
		 				<th>Descripción</th>
		 				<th>Fecha de creación</th>
		 				<th></th>
		 				<th></th>
		 				<th></th>
		 			</thead>
		 			<tbody id="allProject_table_tbody">
		 				{% for project in listAllProject %}
		 				<tr>
		 					<td>{{project.pk}}</td>
		 					<td>{{project.nombre}}</td>
		 					<td>{{project.descripcion}}</td>
		 					<td>{{project.fechaCreacion}}</td>
		 					<td><a href="{% url 'configProject' project.pk %}"class="btn btn-info goToConfig" id="{{project.pk}}">Ir
			 			a configuración <span class="glyphicon glyphicon-share-alt"></span></a></td>
                             <td><a href="{% url 'editProject' project.pk %}" class="btn btn-warning" id="{{project.pk}}">Editar <span class="glyphicon glyphicon-edit"></span></a></td>
		 				    <td><a href="{% url 'deleteProject' project.pk %}" class="btn btn-danger" id="{{project.pk}}">Eliminar <span class="glyphicon glyphicon-remove-sign"></span></a></td>
		 				{% endfor %}
		 			</tbody>
		 		</table>
                <div class="row">
                    <nav class="text-left col-xs-6">
                        <ul class="pagination">
                            {% if is_paginated %}
                                <li>
                                    <a href="?page=1">Ir al inicio</a>
                                </li>
                                {% for pageNum in paginator.page_range %}
                                    {% ifequal pageNum page_obj.number %}
                                        <li class="active"><a href="?page={{ pageNum }}">{{ pageNum }}</a></li>
                                        {% else %}
                                        <li><a href="?page={{ pageNum }}">{{ pageNum }}</a></li>
                                    {% endifequal %}
                                {% endfor %}
                                <li>
                                    <a href="?page={{ paginator.num_pages }}">Ir al final</a>
                                </li>
                            {% endif %}
                        </ul>
                    </nav>
                    <nav class="text-right col-xs-6">
                        <ul class="pagination">
                            {% if  is_paginated %}
                                {% if page_obj.has_previous %}
                                    <li>
                                        <a href="?page={{ page_obj.previous_page_number }}"><span class="glyphicon glyphicon-chevron-left"></span> Página anterior</a>
                                    </li>
                                {% endif %}
                                 {% if page_obj.has_next %}
                                    <li>
                                        <a href="?page={{ page_obj.next_page_number }}">Página siguiente <span class="glyphicon glyphicon-chevron-right"></span></a>
                                    </li>
                                {% endif %}
                                <p>Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}</p>
                            {% endif %}
                        </ul>
                    </nav>
                </div>
	 	 	</div>
 	 	</div>
 	</div>
{% endblock content %}