{% extends "configProject.html" %}
{% block project-options %}	
	{% load widget_tweaks %}
	<div class="row">
		<div class="col-lg-8">
			<div class="panel panel-primary">		
				<div class="panel-heading">
					Imagen
				</div>
				<div class="panel-body">
				</div>
			</div>
		</div>
		<div class="col-lg-4">
			<div class="panel panel-primary">		
				<div class="panel-heading">
					Configuración de capass
				</div>
				<div class="panel-body">
					<form action="." method="POST" data-toggle="validator" enctype="multipart/form-data" role="form">
						{% csrf_token %}
						{{layerFormset.management_form}}
						<table class="table table-striped">
							<thead>
								<th>Id</th>
								<th>Descripción</th>
							</thead>
							<tbody>
								{% for formset in layerFormset %}
									<tr>
										<td class="col-md-4">
											{{ formset.descripcion|add_class:"form-control"|attr:"required:required"}}
										</td>
										<td class="col-md-8">
											{{ formset.descripcion|add_class:"form-control"|attr:"required:required"}}
										</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
						<div class="acciones">
					 		<input type="submit" value="Guardar" class="btn btn-success" id="btnSave"/>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
{% endblock project-options %}