{% extends "configProject.html" %}
{% block project-options %}
	<div class="container-proyect-info">
		<div class="panel panel-primary">
			<div class="panel-heading">
		    	<h3 class="panel-title">Datos del proyecto</h3>
	  		</div>
	  		<div class="panel-body">
		   		<div class="well">
			   		<div class="input-group proyect-detail">
					  <span class="input-group-btn">
					    <label class="btn btn-default">Nombre del proyecto</label>
					  </span>
					  <input type="text" class="form-control" value="{{project.nombre}}" disabled="">
					</div>
					<div class="input-group proyect-detail">
					  <span class="input-group-btn">
					    <label class="btn btn-default">Fecha de creación:</label>
					  </span>
					  <input type="text" class="form-control" value="{{project.fechaCreacion}}" disabled="">
					</div>
					<div class="input-group proyect-detail">
					  <span class="input-group-btn">
					    <label class="btn btn-default">Descripción:</label>
					  </span>
					  <input type="text" class="form-control" value="{{project.descripcion}}" disabled="">
					</div>
		   		</div>

	  		</div>
  			<div class="panel-footer"><label>Código autogenerado:</label>  {{singleImage.proyecto.pk}}</div>
		</div>
		<div class="panel panel-primary">
			<div class="panel-heading">
		    	<h3 class="panel-title">Datos de imagen</h3>
	  		</div>
	  		<div class="panel-body">
		   		<div class="well">
					<div class="input-group proyect-detail">
					  <span class="input-group-btn">
					    <label class="btn btn-default">Imagen</label>
					  </span>
					  <input type="text" class="form-control" value="{{singleImage.imagen}}" disabled="">
					</div>
					<div class="input-group proyect-detail">
					  <span class="input-group-btn">
					    <label class="btn btn-default">Descripción</label>
					  </span>
					  <input type="text" class="form-control" value="{{singleImage.descripcion}}" disabled="">
					</div>
		   		</div>
	  		</div>
  			<div class="panel-footer"><label>Url de imagen:</label>  <a href="{{singleImage.imagen.url}}" target="_blank">{{singleImage.imagen}}</a></div>
		</div>
	</div>
	
{% endblock project-options %}